<h1>Photo Details</h1>

<dl>
  <dt>Image</dt>
    <dd><img src="<%= @currentphoto.image %>"></dd>

  <dt>Caption</dt>
    <dd><%= @currentphoto.caption %></dd>

<dt>Owner</dt>
    <dd><%= @currentphoto.poster.username %></dd>

<dt>Posted</dt>
    <dd><%= @currentphoto.created_at %></dd>
    
<dt>Edit photo</dt>
    <dd>
        <form action="/update_photo/<%= @currentphoto.id %>" method="post">

        <label for="imgbox">Image</label>
        <input id="imgbox" name="update_img_text" type="text" value="<%= @currentphoto.image %>">

        <label for="captionbox">Caption</label>
        <input id="captionbox" name="update_caption_text" type="text" value="<%= @currentphoto.caption %>">
        
        <button>Update Photo</button>
        </form>
    </dd>

<dt>Delete photo</dt>
    <dd><a href="/delete_photo/<%= @currentphoto.id  %>">Delete Photo</a></dd>

</dl>



<h2>Comments</h2>

<table border="1px">
  <tr>
    <th>
      Commenter
    </th>

    <th>
      Comment
    </th>

    <th>
      Posted
    </th>
  </tr>

<% @currentphoto.comments.each do |a_comment| %>

  <tr>
    <td>
      <%= a_comment.commenter.username%>
    </td>

    <td>
       <%= a_comment.body %>
    </td>

    <td>
      <%= a_comment.created_at %>
    </td>
  </tr>
<% end %>
</table>

</br>
<h3>Add a new comment</h3>
Form
